<div class="row">
    <div class="col-lg-4">
        <label for="">Имя и фамилия:</label></div>
    <div class="col-lg-8"><strong>{{ appeal.fio }}</strong></div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label for="">Электронная почта:</label></div>
    <div class="col-lg-8"><strong>{{ appeal.email }}</strong></div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label for="">Тема обращения:</label></div>
    <div class="col-lg-8"><strong>{{ appeal.subject }}</strong></div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label for="">Обращение:</label></div>
    <div class="col-lg-8"><strong>{{ appeal.description }}</strong></div>
</div>

{{ form_start(form, {'action': path('appeal_answer', {'id': appeal.id}), 'method': 'POST'}) }}

{{ form_widget(form) }}

<button class="btn btn-primary">{{ button_label|default('Send') }}</button>

{{ form_end(form) }}
