{% extends 'base_admin.html.twig' %}

{% block title %}Appeals list{% endblock %}

{% block content %}
    <h1>Appeals list</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Fio</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Description</th>
            <th>CreatedAt</th>
            <th>IsRead</th>
        </tr>
        </thead>
        <tbody>
        {% for appeal in appeals %}
            <tr>
                <td><a class="open-user-info" href="{{ path('appeal_answer', {'id' : appeal.id}) }}">
                        {{ appeal.id }}
                    </a>
                </td>
                <td>{{ appeal.fio }}</td>
                <td>{{ appeal.email }}</td>
                <td>{{ appeal.subject }}</td>
                <td>{{ appeal.description }}</td>
                <td>{{ appeal.createdAt ? appeal.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ appeal.isRead ? appeal.isRead|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="user-info" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Обращение</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}