{% extends 'base_admin.html.twig' %}

{% block title %}Заявки на подключение{% endblock %}

{% block content %}
    <table class="table table-hover table-inverse">
        <thead>
        <tr>
            <th>Дата заявки</th>
            <th>Тип</th>
            <th>Эл.почта</th>
            <th>Статус</th>
            <th>Тарифный план</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for req in connections %}
        <tr>
            <th scope="row">{{ req.createdAt|date('Y-m-d') }}</th>
            <td>{{req.type}}</td>
            <td>{{ req.counterparty.email }}</td>
            <td>{{ req.isApprove ? 'Подтверждена' : 'Не подтверждена' }}</td>
            <td>{{ req.tariff }}</td>
            <td>
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Выберите действие
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('connection_requests_view', {'id' : req.id}) }}">Просмотр заявки</a>
                        <a class="dropdown-item" href="#">Выставить счет</a>
                        <a class="dropdown-item" href="{{ path('connection_requests_approve', {'id' : req.id}) }}">Подтвердить организацию</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}