{% extends 'base_admin.html.twig' %}

{% block title %}Заявки на подключение{% endblock %}

{% block content %}
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    О Контрагенте
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="text-muted">
                                Название организации:
                            </span>
                            {{ connection_request.counterparty.companyName }}
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">
                                УНП:
                            </span>
                            {{ connection_request.counterparty.ynp }}
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">
                                КПП:
                            </span>
                            {{ connection_request.counterparty.kpp }}
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">
                                Адрес:
                            </span>
                            {{ connection_request.counterparty.zipCode }}
                            {{ connection_request.counterparty.country }}
                            {{ connection_request.counterparty.city }}
                        </li>
                        <li class="list-group-item">
                             <span class="text-muted">
                                Подключенные пользователи:
                            </span>
                            {% for user in connection_request.counterparty.users %}
                                <span class="iterable">{{ user.email }}</span>
                            {% endfor %}
{#TODO Реаализовать ссылку на профиль#}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">О заявке</div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="text-muted">
                                Подана:
                            </span>
                            {{ connection_request.createdAt | date('y-m-d') }}
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">
                                Тип заявки:
                            </span>
                            {{ connection_request.type }}
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">
                                Статус заявки:
                            </span>
                            {{ connection_request.isApprove ? 'Подтверждена' : 'Не подтверждена' }}
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">
                                Тарифный план:
                            </span>
                            {{ connection_request.tariff.name }}
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted">
                                Стоимость тарифного плана:
                            </span>
                            {{ connection_request.tariff.cost }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">Контактное лицо</div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                            <span class="text-muted">
                                Фамилия, Имя, Отчество:
                            </span>
                        {{ connection_request.counterparty.contactFirstName }}
                        {{ connection_request.counterparty.contactMiddleName }}
                        {{ connection_request.counterparty.contactLastName }}
                    </li>
                    <li class="list-group-item">
                            <span class="text-muted">
                                Телефон:
                            </span>
                        {{ connection_request.counterparty.phone }}
                    </li>
                    <li class="list-group-item">
                            <span class="text-muted">
                                Электронная почта:
                            </span>
                        {{ connection_request.counterparty.email }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}