@import "~startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css";
@import '~startbootstrap-sb-admin-2/scss/sb-admin-2.scss';
@import "~toastr/toastr";

#wrapper {
  height: 100vh
}

footer {
  position: sticky
}

li.custom-menu {
  margin: 5px;
}

#side-menu {
  display: block;
  text-decoration: none;
}

span.text-muted {
  display: flex;
  font-size: 70%;
}

.iterable {
  display: flex;
}
