{% extends 'base.html.twig' %}

{% block title %}Биржа нелеквидов - о бирже{% endblock %}

{% block content %}
    {% include 'about_company/side_bar_about_page.html.twig' %}
    <main class="col-md-9">
        <h1>О бирже</h1>
        <h3>О площадке</h3>
        <p>Биржа остатков — это электронная торговая площадка для малого и среднего бизнеса, которая помогает компаниям покупать и продавать товарные остатки.</p>
        <h3>Как работает площадка</h3>
        <p>
            1. Продавцы размещают предложения продажи товарных остатков. <br>
            2. Покупатель просматривает предложения, выбирает подходящее и откликается на него.<br>
            3. Покупатель и продавец договариваются о сделке.<br>

            Площадка рассчитана на малый и средний бизнес, поэтому нет никаких формальностей по ЭЦП, обеспечению сделок, срокам проведения сделок, отчетности и подписания документов.
            Программное обеспечение не устанавливается на ПК и доступно любому через браузер.<br>

            Базовый функционал бесплатен для всех покупателей. Размещать предложения могут только проверенные продавцы.<br>
        </p>
        <h3>
            Польза: <br> <br>
            <table class="table table-bordered table-sm">
                <tr>
                    <th>
                        Для покупателей
                    </th>
                    <th>
                        Для продавцов
                    </th>
                </tr>
                <tr>
                    <td>
                        Бесплатный поиск предложений товарных остатков
                    </td>
                    <td>
                        Возможность продать товарный остаток
                    </td>
                </tr>
                <tr>
                    <td>
                        Предложения только от проверенных продавцов
                    </td>
                    <td>
                        Доступ к базе предложений других продавцов
                    </td>
                </tr>
                <tr>
                    <td>
                        Откликнуться на предложение можно за 1 минуту
                    </td>
                    <td>
                        Заинтересованные в приобретении товарного остатка покупатели
                    </td>
                </tr>
                <tr>
                    <td>
                        Связаться с автором предложения можно через встроенный чат
                    </td>
                    <td>
                        Связаться с покупателем можно прямо на сайте
                    </td>
                </tr>
            </table>

        </h3>
    </main>
{% endblock %}
