{% extends 'base.html.twig' %}

{% block title %}Правила публикации{% endblock %}

{% block content %}
    {% include 'about_company/side_bar_about_page.html.twig' %}
    <main class="col-md-9">
        <h1>Правила публикации</h1>
    <p>
        <b> Предложения, размещаемые на ресурсе httpsː//birja.org/, должны быть составлены на одном из государственных языков Республики Беларусь – белорусском или русском, и содержать:</b>
        <br><b>1.</b> Полное и достоверное описание товара.
        <br><b>2.</b> Достоверную цену товара. При этом цена товара (работы, услуги) обязательно должна указываться в выбранной валюте в специальном поле.
        <br><b>3.</b> Достоверную информацию о продавце.
        <br><b>4.</b> Достоверную информацию о состоянии товара.
        <br><b>5.</b> Достоверную контактную информацию. К обязательной контактной информации относится e-mail. E-mail указывается в специальном поле при регистрации профиля. Не разрешается указывать его в тексте предложения. E-mail не виден в предложении, но используется для связи с автором через специальную контактную форму. Указанный Пользователем при создании профиля e-mail используется для официальной информационной рассылки в адрес Пользователя от имени интернет-платформы. Запрещено указывать номер телефона в поле "Комментарий".
        <br><b>6.</b> В случае наличия собственных фотографий, предложение должно содержать реальные фотографии предмета сделки, соответствующие конкретному продаваемому экземпляру. Не допускается размещение фотографий, на которых содержится ссылка на сторонние ресурсы.
        <br><b>7.</b> Фото и изображения не должны нарушать авторские права их владельца, фотографа или возможных моделей.
        <br><b>8.</b> На фото не должно быть элементов, которые можно расценить как оскорбительные, противозаконные или призывающие к насилию.
        <br><b>9.</b> При изменении или обновлении предложения не разрешается заменять товар, описываемый в предложении, на иной товар; не разрешается изменять количество товара в большую сторону.
        <br><b>10.</b> Предложение доступно для покупателей в течение 60 дней, после чего оно переходит в статус закрытых предложений.

        <br><b>Администрация интернет-портала оставляет за собой право:</b>
        <br>— размещать или отклонять предложения;
        <br>— определять, какое предложение не соответствует настоящим Правилам;
        <br>— удалять предложения, если они не соответствуют правилам размещения предложений на сайте, без предварительного уведомления и объяснения причин;
        <br>— изменять требования к содержанию и условиям размещения предложений;
        <br>— изменять содержание и оформление предложений в соответствии с требованиями, указанными в настоящих Правилах;
        <br>— редактировать предложения в целях придания им качеств, удобных для чтения;
        <br>— лишать конкретного пользователя права на размещение предложений в случае систематического нарушения данным пользователем настоящих Правил;
        <br>— запрашивать у пользователя дополнительные данные, необходимые для размещения предложений.
    </p>
    </main>
{% endblock %}
