<header class="col-md-3">
    <div class="list-group">
        <a href="{{ path('about_company') }}"
           class="list-group-item list-group-item-action {% if isActiveMenu1|default(false) %} active {% endif %}">
            О Бирже
        </a>
        <a href="{{ path('privacy_policy') }}"
           class="list-group-item list-group-item-action {% if isActiveMenu2|default(false) %} active {% endif %}">
            Политика конфиденциальности
        </a>
        <a href="{{ path('term_of_use') }}"
           class="list-group-item list-group-item-action {% if isActiveMenu3|default(false) %} active {% endif %}">
            Пользовательское соглашение
        </a>
        <a href="{{ path('publish_rules') }}"
           class="list-group-item list-group-item-action {% if isActiveMenu4|default(false) %} active {% endif %}">
            Правила публикации предложений
        </a>
        <a href="{{ path('tariffs') }}"
           class="list-group-item list-group-item-action {% if isActiveMenu5|default(false) %} active {% endif %}">
            Тарифные планы
        </a>
        <a href="#"
           class="list-group-item list-group-item-action {% if isActiveMenu6|default(false) %} active {% endif %}">
            Инструкция: оформление заявки на подключение
        </a>
        <a href="#"
           class="list-group-item list-group-item-action {% if isActiveMenu7|default(false) %} active {% endif %}">
            Инструкция: оформление предложения
        </a>
        <a href="#"
           class="list-group-item list-group-item-action {% if isActiveMenu8|default(false) %} active {% endif %}">
            Инструкция: изменение предложения
        </a>
        <a href="#"
           class="list-group-item list-group-item-action {% if isActiveMenu9|default(false) %} active {% endif %}">
            Инструкция: возобновление предложения
        </a>
    </div>
</header>