{% extends 'base.html.twig' %}

{% block title %}Тарифные планы{% endblock %}

{% block content %}
    {% include 'about_company/side_bar_about_page.html.twig' %}
    <main class="col-md-9">
        <h1>Тарифные планы</h1>
        <table class="table table-reflow table-sm table-bordered">
            <thead>
            <tr>
                <th>Название</th>
                <td>Старт</td>
                <td>Безлимит</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Описание</th>
                <td>Позволяет размещать определенное количество предложений</td>
                <td>Позволяет размещать неограниченное количество предложений</td>
            </tr>
            <tr>
                <th scope="row">Кому будет полезным</th>
                <td>Подходит тем, у кого мало товарных остатков</td>
                <td>Подходит тем, у кого много товарных остатков</td>
            </tr>
            <tr>
                <th scope="row">Срок действия</th>
                <td>60 дней</td>
                <td>1/ 3/ 6/ 12 месяцев</td>
            </tr>
            <tr>
                <th scope="row">Количество предложений</th>
                <td>10/ 50 предложений</td>
                <td>10/ 50 предложений</td>
            </tr>
            <tr>
                <th scope="row">Стоимость</th>
                <td>20/ 60 USD</td>
                <td>50/ 150/ 300/ 600 USD</td>
            </tr>
            </tbody>
        </table>
    </main>
{% endblock %}
