{% extends 'base.html.twig' %}

{% block title %}Пользовательское соглашение{% endblock %}

{% block content %}
    {% include 'about_company/side_bar_about_page.html.twig' %}
    <main class="col-md-9">
        <h1>
            Пользовательское соглашение
        </h1><br>
        <p>
            Администрация сайта httpsː//birja.org/, компания ООО «ИтерТех Инновэйшенс», именуемая в дальнейшем – «Оператор» оказывает услуги на основании настоящего Пользовательского соглашения любому физическому или юридическому лицу, именуемому в дальнейшем «Пользователь», в случае принятия и исполнения им условий определенных в настоящем соглашении.

            <br><b>1.</b> Общие условия
            <br><b>1.1.</b> В соответствии с настоящим соглашением, Оператор предоставляет услуги Пользователю, с помощью которых последний имеет возможность зарегистрироваться и создать на сайте (далее по тексту – интернет-портал) свои учетные записи.
            <br><b>1.2.</b> В рамках настоящего соглашения после оплаты услуг Оператора Пользователь получает доступ к закрытым разделам сайта, в которых он может публиковать информацию: контактную информацию; информацию о товарах, предлагаемых компанией; прочую информацию.
            <br><b>1.3.</b> Оператор не осуществляет проверки размещаемой Пользователем информации.
            <br><b>1.4.</b> Обязательным условием оказания Оператором услуг является принятие и соблюдение Пользователем требований и положений, определенных настоящими Соглашением и законодательством.
            <br><b>1.5.</b> В случае если Пользователем является физическое лицо, то настоящим пунктом он подтверждает свое согласие на автоматизированную, а так же без использования средств автоматизации обработку и использование его персональных данных. Здесь можно посмотреть Политику конфиденциальности Оператора.

            <br><b>2.</b> Обязанности Пользователя
            <br><b>2.1.</b> При регистрации Пользователь обязан предоставить правдивую, точную и полную информацию необходимую для регистрации на интернет-портале. Пользователь подтверждает, что информация, указанная им при регистрации и/или размещенная им на портале nelikvidi.com (далее по тексту – информация) – полная, достоверная, актуальная и полностью соответствует действующему законодательству.
            <br><b>2.2.</b> Пользователь обязуется поддерживать информацию в актуальном состоянии.
            <br><b>2.3.</b> Пользователь обязуется не осуществлять действий, которые влияют на нормальную работу интернет-портала, являются его недобросовестным использованием.
            <br><b>2.4.</b> Пользователь обязуется соблюдать Правила публикации на интернет-портале, размещенные на httpsː//birja.org/.

            <br><b>3.</b> Стоимость услуг
            <br><b>3.1.</b> Размещение информации на интернет-портале httpsː//birja.org/ осуществляется по предоплате по соответствующим тарифам, указанным на странице Тарифы.

            <br><b>4.</b> Ответственность
            <br><b>4.1.</b> Оператор не несет ответственности за ошибки, неточности, упущения которые были допущены при регистрации или размещении информации, а также любые материальные или нематериальные убытки, возникшие в связи с этим.
            <br><b>4.2.</b> В случае предоставления Пользователем недостоверной информации, информации содержание и/или оформление которой не соответствует моральным и этическим нормам, противоречит действующему законодательству, Оператор имеет право приостановить либо отменить регистрацию Пользователя и прекратить предоставление ему услуг.
            <br><b>4.3.</b> Пользователь несет ответственность перед Оператором и перед третьими лицами за содержание информации, предоставленной Пользователем, а также за ее достоверность.
            <br><b>4.4.</b> В случае если размещение информации явилось основанием для предъявления к Оператору претензий со стороны государственных органов или третьих лиц, Пользователь обязуется незамедлительно по требованию Оператора представить всю запрашиваемую информацию.
            <br><b>4.5.</b> Пользователь возмещает Оператору ущерб, понесенный Оператором (включая взысканные в судебном порядке суммы и наложенные штрафы), а также иные издержки, возникшие у Оператора в связи с несоответствием действующему законодательству предоставленной Пользователем информации.
            <br><b>4.6.</b> В случае возникновения споров и претензий со стороны третьих лиц, связанных с нарушением прав на результаты интеллектуальной деятельности и средств индивидуализации или любых иных прав в связи с размещением информации, предоставленной Пользователем, последний гарантирует Оператору урегулирование таких споров за счет собственных сил и средств, а также принимает на себя всю ответственность за возможные нарушения указанных выше прав третьих лиц.
            <br><b>4.7.</b> Пользователь не получает никаких прав на использование информации, размещенной другими пользователями и несет полную ответственность перед владельцем информации за неправомерное использование.
            <br><b>4.8.</b> Оператор не гарантирует сохранность профиля пользователя, сайта пользователя и размещенной пользователем на интернет-портале информации. Оператор не несет ответственности за перебои в предоставлении доступа посредством сети Интернет к интернет-порталу nelikvidi.com, на котором находятся информационные материалы, предоставленные Пользователем, если они были вызваны объективными обстоятельствами, связанными с:
            <br>— перебоями в электропитании;
            <br>— глобальными перебоями в работе российского и международного сегментов сети Интернет;
            <br>— сбоями систем маршрутизации;
            <br>— сбоями в распределенной системе доменных имен;
            <br>— сбоями, вызванными попытками и/или несанкционированным администрированием третьими лицами Интернет-ресурсов или DOS-атаками, в случаях, когда такие обстоятельства не позволяют пользователям получить доступ к интернет-порталу nelikvidi.com посредством указания его адреса в период действия таких обстоятельств;
            <br>— неполадками у интернет-провайдера.
            <br><b>4.9.</b> Оператор не осуществляет проверку размещенной информации на предмет ее соответствия действующему законодательству, не несет ответственности за несоответствие информации действующему законодательству.
            <br><b>4.10.</b> Оператор имеет право заблокировать доступ к информации, размещенной Пользователем, по собственному усмотрению, предоставив Пользователю мотивированное обоснование.
            <br><b>4.11.</b> Пользователь полностью понимает и соглашается с тем, что:
            <br>— Оператор не гарантирует, что услуги будут соответствовать Вашим требованиям, предоставляться непрерывно и безошибочно.
            <br>- Оператор не гарантирует, что качество товаров, услуг или информации, приобретенных или полученных с помощью интернет-портала, будет соответствовать вашим ожиданиям и/или требованиям.
            <br>— Скачивание любой информации или материалов с интернет-портала осуществляется на свой страх и риск. Пользователь самостоятельно отвечает за потерю информации или вред, нанесенный его компьютеру вследствие скачивания информации с интернет – портала.
            <br>— Регистрируясь на интернет-портале httpsː//birja.org/ Пользователь автоматически подписывается на новостные и рекламные рассылки интернет-поратала, но имеет возможность в дальнейшем отписаться, пройдя по ссылке в соответствующем письме или направив сообщение с просьбой отписаться от рассылки на электронную почту, обычную почту или факс, указанные в разделе Тарифы и контакты

            <br><b>5.</b> Срок действия и изменения условий соглашения
            <br><b>5.1.</b> Настоящее соглашение вступает в силу с момента опубликования в сети Интернет по адресу: httpsː//birja.org/pages/terms/ и действуют до момента отзыва Оператором.
            <br><b>5.2.</b> Оператор оставляет за собой право внести изменения в настоящее соглашение и/или отозвать его в любой момент по своему усмотрению. В случае внесения Оператором изменений в соглашение такие изменения вступают в силу с момента опубликования, если иной срок вступления изменений в силу не определен дополнительно при их опубликовании.

            <br><b>6.</b> Порядок разрешения споров
            <br><b>6.1.</b> Все споры в связи с Соглашением Стороны разрешают с соблюдением обязательного досудебного претензионного порядка урегулирования споров.
            <br><b>6.2.</b> Сторона, имеющая к другой Стороне требование в связи с Соглашением, в том числе в связи с его заключением, исполнением, нарушением, прекращением его действия (в том числе расторжением, включая односторонний отказ) или его недействительностью, обязана до обращения с этим требованием в суд направить другой Стороне письменную претензию с указанием этого требования и приложением удостоверенных ею копий документов, обосновывающих это требование, отсутствующих у другой Стороны.
            <br><b>6.3.</b> Сторона обязана рассмотреть полученную претензию и о результатах ее рассмотрения уведомить в письменной форме другую Сторону в течение 10 (десяти) рабочих дней со дня получения претензии со всеми необходимыми приложениями. При частичном удовлетворении или отклонении Стороной претензии в уведомлении должно быть указано основание принятого Стороной решения со ссылкой на соответствующий пункт Договора.
            <br><b>6.4.</b> Направившая претензию Сторона вправе обратиться с указанным в ней требованием в суд, только если оно не будет полностью удовлетворено другой Стороной в течение в течение 10 (десяти) рабочих дней со дня получения другой Стороной претензии со всеми необходимыми приложениями.
            <br><b>6.5.</b> Все споры между Сторонами в связи с Соглашением, в том числе в связи с его заключением, исполнением, нарушением, прекращением его действия (в том числе расторжением, включая односторонний отказ), его недействительностью, подлежат разрешению арбитражным судом по месту нахождения Оператора.
            <br><b>6.6.</b> Положения настоящего раздела являются обязательными и для правопреемников Сторон, в том числе для лиц, приобретших права по Договору в результате уступки этих прав или обязанности по Договору в результате перевода долга и для универсальных правопреемников Сторон.

            <br><b>7.</b> Реквизиты Оператора
            <br>ООО «ИтерТех Инновэйшенс»
            <br>УНП:
            <br>КПП:
            <br>Рег. номер:
            <br>Юридический адрес:
            <br>Директор:
            <br>Телефоны:
            <br>Адрес электронной почты: privacy@birja.org
        </p>
    </main>
{% endblock %}
