{{ form_start(form, {action: path('connection_request_new')}) }}
<table>
    <tr>
        <td colspan="1">
            {{ form_label(form.companyName) }}
        </td>
        <td colspan="3">
            {{ form_widget(form.companyName) }}
        </td>
    </tr>
    <tr>
        <td>{{ form_label(form.ynp) }}</td>
        <td>{{ form_widget(form.ynp) }}</td>
        <td>{{ form_label(form.kpp) }}</td>
        <td>{{ form_widget(form.kpp) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.country) }}</td>
        <td>{{ form_widget(form.country) }}</td>
        <td>{{ form_label(form.city) }}</td>
        <td>{{ form_widget(form.city) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.zipCode) }}</td>
        <td>{{ form_widget(form.zipCode) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.address) }}</td>
        <td colspan="3">{{ form_widget(form.address) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.phone) }}</td>
        <td>{{ form_widget(form.phone) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.contactFirstName) }}</td>
        <td>{{ form_widget(form.contactFirstName) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.contactMiddleName) }}</td>
        <td>{{ form_widget(form.contactMiddleName) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.contactLastName) }}</td>
        <td>{{ form_widget(form.contactLastName) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.email) }}</td>
        <td>{{ form_widget(form.email) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.tariff) }}</td>
        <td colspan="3">{{ form_widget(form.tariff) }}</td>
    </tr>
</table>
{{ form_end(form) }}