{% for message in app.flashes('success') %}
    <div class="flash-message" data-type="success">{{ message }}</div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="flash-message" data-type="error">{{ message }}</div>
{% endfor %}
