<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav navbar">
        <li class="nav-item active custom-menu">
            <a class="btn btn-lg btn-outline-secondary" href="{{ path('home') }}">Главная</a>
        </li>
        <li class="nav-item active custom-menu">
            <a class="btn btn-lg btn-outline-secondary" href="{{ path('about_company') }}">О Бирже</a>
        </li>
        <li class="nav-item active custom-menu">
            <button id="open-appeal-modal" type="button" class="btn btn-lg btn-outline-secondary" data-toggle="modal"
                    data-url="{{ path('appeal_new') }}">
                Техническая поддержка
            </button>
        </li>
    </ul>
</div>
